@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --black: #181c14;
  --grey: #3c3d37;
  --green: #697565;
  --cream: #ecdfcc;
  --box-shadow: 8px 7px 16px -2px #2e2c2c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

body {
  font-family: "Lato", sans-serif;
  padding-top: 100px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 1.7rem 2rem;
  background-color: var(--green);
  box-shadow: var(--box-shadow);
  z-index: 1000;
}

#menu-bar {
  font-size: 32px;
  color: var(--cream);
  cursor: pointer;
  display: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.height {
  height: 50px;
}

.logo a {
  text-decoration: none;
  color: var(--cream);
  font-size: 1.2rem;
  cursor: pointer;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

header .navbar a {
  transition: 0.5s;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem 1.7rem;
  color: var(--cream);
}

header .navbar .active,
header .navbar a:hover {
  font-size: 1.5rem;
}

/* *Home section */
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.home .home-slider {
  width: 100%;
  height: 100%;
}
.home .home-slider .slide {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  padding: 1.8rem 0;
}

.home .home-slider .content {
  flex: 1 1 40rem;
  padding: 3rem;
}

.home .home-slider .content h2 {
  color: var(--green);
  font-size: 3rem;
}

.home .home-slider .content p {
  font-size: 1.3rem;
}

.home .home-slider .slide .image img {
  width: 100%;
}
.home .home-slider .slide .image {
  flex: 1 1 40rem;
}
.swiper-pagination-bullet {
  background: var(--grey);
  opacity: 0.5;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background: var(--black);
  opacity: 1;
  width: 12px;
  height: 12px;
}
.shop-btn {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  justify-content: center;
  margin: 2rem 0;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.shop-btn:hover {
  box-shadow: var(--cream) 0 0 0 2px, transparent 0 0 0 0;
}
/* *heading */
.section-header {
  text-align: center;
  margin-bottom: 50px;
}

.section-header h2 {
  font-size: 42px;
  margin-bottom: 15px;
  color: var(--green);
}

.section-header .subheading {
  font-size: 20px;
  color: var(--grey);
  margin-bottom: 10px;
}

/* *Product Grid */
.product-grid {
  display: grid;
  gap: 2rem;
  margin-bottom: 80px;
  margin-left: 30px;
  margin-right: 30px;
}

.grid-4 {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.product-card {
  display: flex;
  flex-direction: column;
  background: #f1f0f0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  transition: transfom 0.3s ease, box-shadow 0.3s ease;
}

.asymmetric-card {
  display: flex;
  align-items: center;
  background: #f1f0f0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  transition: transfom 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover,
.asymmetric-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.product-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.asymmetric-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.asymmetric-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.product-card .content,
.asymmetric-card .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.product-card h3 {
  font-size: 1.3rem;
  margin: 2rem;
  color: var(--grey);
}

.product-card p {
  font-size: 1.2rem;
}

.grid-asymmetric {
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: repeat(2, 300px);
}

.grid-asymmetric .asymmetric-card:first-child {
  grid-row: 1 / 3;
}

.grid-full {
  grid-template-columns: 1fr;
}

.asymmetric-image.large {
  height: 100%;
}

.product-image.extra-large {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  padding: 20px;
  text-align: center;
  color: #2c3e50;
  font-size: 14px;
}

.slideimgtag {
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.carousel {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
  transition: transform 0.5s ease; /* smooth animation */
}

.carousel img {
  width: 250px;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.5s ease;
}

.buttons {
  margin-top: 20px;
}

.slideimgtag button {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.slideimgtag button:hover {
  background-color: #666;
}

footer {
  background-color: var(--green);
  color: var(--cream);
  padding: 60px 60px 40px;
  margin-top: 80px;
}

.footer-title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 40px;
  margin-bottom: 50px;
  padding-bottom: 40px;
  border-bottom: 2px solid var(--grey);
}

.footer-column h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.footer-column p {
  font-size: 1.2rem;
  margin-bottom: 12px;
  color: #fff;
}

.footer-bottom {
  text-align: center;
  padding-top: 30px;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.social-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.copyright {
  color: var(--grey);
  font-size: 1.2rem;
}
@media (max-width: 1024px) {
  #menu-bar {
    display: block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--green);
    clip-path: polygon(0 0, 100% 0, 0 0);
    transition: clip-path 0.4s ease;
  }
  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    padding: 1rem 0;
    font-size: 1.3rem;
  }
  .grid-asymmetric {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .grid-asymmetric .asymmetric-card:first-child {
    grid-row: auto;
    grid-column: 1/3;
    height: 300px;
  }
}

@media (max-width: 600px) {
  .grid-asymmetric {
    grid-template-columns: 1fr;
  }
  .grid-asymmetric .asymmetric-card:first-child {
    grid-column: 1;
  }
}
